@import "../variables";

.todo-list-container {
  box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
}

.todo__list {
  color: $grey-300;
}

.todo__footer {
  color: $grey-600;
  background-color: $grey-800;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;

  &__items-left {
    font-size: 0.85rem;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }
}
