@import "../variables";

.todo-list-container {
  box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
}

.todo__list {
  color: $grey-300;
}
.todo__item {
  list-style: none;
  padding: 1em 1em;
  background-color: $grey-800;
  border-bottom: 1.5px solid $grey-700;

  &__circle-check {
    font-size: 1.25rem;
    margin-right: 1em;
    color: $grey-800;
    border: 1px solid $grey-600;
    border-radius: 50%;
  }
}
.todo__footer {
  color: $grey-600;
  background-color: $grey-800;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;

  &__items-left {
    font-size: 0.85rem;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }
}
//todo complete
.todo__complete {
  color: $grey-600;
  text-decoration: line-through;
  .todo__item__circle-check {
    color: $clr-600;
    background: white;
  }
}
