// colors
$clr-100: #ede9fe;
$clr-200: #ddd6fe;
$clr-300: #c4b5fd;
$clr-400: #a78bfa;
$clr-500: #8b5cf6;
$clr-600: #7c3aed;
$clr-700: #6d28d9;
$clr-800: #5b21b6;
$clr-900: #4c1d95;
// greys
$grey-50: #f8fafc;
$grey-100: #f1f5f9;
$grey-200: #e2e8f0;
$grey-300: #cbd5e1;
$grey-400: #94a3b8;
$grey-500: #64748b;
$grey-600: #475569;
$grey-700: #334155;
$grey-800: #1e293b;
$grey-900: #0f172a;

//rest of variables
$transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
