@import "./variables";
//global btn
.btn {
  cursor: pointer;
  background: none;
  border: none;
  color: $grey-600;
  transition: $transition;
  &:hover {
    color: $clr-500;
  }
}
.btn-active {
  color: $clr-500;
}
.container {
  height: 100vh;
  background-color: $grey-900;

  .img-container {
    width: 100%;
    height: 12em;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(
        90deg,
        rgba(178, 36, 224, 0.5) 0%,
        rgba(36, 29, 253, 0.6) 100%
      );
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  //header title
  .header {
    color: $grey-50;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      color: white;
      letter-spacing: 6px;
    }
    &__icon {
      font-size: 1.5rem;
      padding-right: 0.5em;
    }
  }
}

//main
.section-center {
  color: $grey-50;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}
